@charset "utf-8";
body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}
h2 {
    font-family: 'Montserrat', sans-serif;
    font-size: 54px;
    text-align: center;
    padding-top: 61px;
    padding-bottom: 0px;
    margin-bottom: 42px;
    margin-top: 0;
    color: #FFFFFF;
    font-style: normal;
    font-weight: bold;
}
a {
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #FFFFFF;
}
a:focus {
    color: #000000;
}
a:hover {
    color: #F3E88A;
}
a:active {
    color: rgba(167,140,98,0.00) !important;
}
th a:link  {
    color: #FFFFFF;
    text-decoration: none;
    bottom: 20%;
}
th a:visited {
    color: #FFFFFF;
}
th a:focus {
    color: #E3D1A4;
}
th a:hover {
    color: #E6BE55 !important;
}
th a:active {
    background-color: rgba(167,140,98,0.00);
    color: #E6BE55 !important;
}

/*estilos idioma*/

.seleccionidioma {
    cursor: pointer;
}
.seleccionidioma:hover{
    color: #E6BE55;
}
.seleccionidiomaabajo {
    position: relative;
    font-size: 12px;
}
.seleccionidiomaabajo-content {
    width: 100%;
    display: none;
    background-color: #000000;
    position: absolute;
    box-shadow: 0px 8px 16px 0px;
    padding-top: 6px;
    margin-top: 5px;
}
.seleccionidiomaabajo-content a {
    padding-top: 2px;
    padding-bottom: 12px;
    text-decoration: none;
    display: block;
    color: #FFFFFF;
}
.seleccionidiomaabajo:hover .seleccionidiomaabajo-content {
    display: block;
}

/*estilos idioma*/

/*estilos cabecera*/
#cab {
    font-family: 'Raleway', sans-serif;
    font-size: 30px;
    color: #FFFFFF;
    text-align: center;
    position: fixed;
    width: 100%;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
    z-index: 155;
    letter-spacing: 1px;
    border-bottom-color: rgba(247,247,247,0.31);
    border-bottom-style: outset;
}
.abajo {
    vertical-align: bottom;
    text-align: center;
    padding-bottom: 17px;
}
.logo {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    width: 250px;
}
/*estilos cabecera*/
/*estilos main*/
#main {
    color: #FFFFFF;
}
.oculto {
    margin: 0;
    padding-bottom: 48px;
	padding-top: 0;
	width: 100%;
}
/* proporción 16:9 */
.video {
    width: 100%;
    height: auto;
}
.v-container {
	position: relative;
	padding-bottom: 56.25%; 
	padding-top: 25px;
	height: 0;	
}
.v-container iframe {
    position: absolute;
    top: -52px;
    left: 0;
    width: 100%;
    border: 0;
    height: 100%;
}
#cita_cabezera {
    position: absolute;
	top: 13%;
	left: 50%;
	transform: translate(-50%, -50%);
    font-family: 'Raleway', sans-serif;
    font-style: italic;
    font-weight: 900;
    text-align: center;
    font-size: 28px;
    float: left;
    background-image: -webkit-linear-gradient(340deg,rgba(100,99,99,0.52) 0%,rgba(161,161,161,1.00) 100%);
    background-image: -moz-linear-gradient(340deg,rgba(100,99,99,0.52) 0%,rgba(161,161,161,1.00) 100%);
    background-image: -o-linear-gradient(340deg,rgba(100,99,99,0.52) 0%,rgba(161,161,161,1.00) 100%);
    background-image: linear-gradient(110deg,rgba(100,99,99,0.52) 0%,rgba(161,161,161,1.00) 100%);
    border-radius: 10px;
    padding-right: 7px;
    padding-left: 7px;
    z-index: 97;
}
/*estilos bodega*/
#bodegat{
    padding-top: 25px;
    padding-bottom: 25px;
}
.testobodegaiz {
    margin-right: 50px;
    margin-left: 120px;
    text-align: left;
    line-height: normal;
    letter-spacing: 0%;
}
.testobodegade {
    margin-right: 140px;
    margin-left: 50px;
    text-align: left;
    line-height: normal;
}
.imagenbodega {
    width: 350px;
    height: 350px;
}
.imagenfecha {
    width: 203px;
    height: 350px;
}
.td_lados {
    width: 50%;	
}
.td_centro {
    width: 203px;	
}

/*estilos bodega*/

/*estilos viñedo*/
#vinedost {
    width: 100%;
}
.imgvinedo {
    width: 100%;
}
.textovinedo {
    padding-top: 50px;
    padding-bottom: 50px;
    padding-right: 125px;
    padding-left: 125px;
    text-align: justify;
    width: 100%;
}
/*estilos viñedo*/

/*estilos vinos*/
#vinost {
    width: 84%;
    padding-left: 18%;
}#contenedorPadre_proximamente1 {
  position: relative;
}
#contenedorPadre_proximamente2 {
  position: relative;
}
#contenedorPadre_proximamente3 {
  position: relative;
}
.td_botella {
    width: 30%;	
}
.td_texto {
    width: 70%;	
}
.botella {
    width: 80%;
}
.colorbarra {
    background-color: #5F5E5E;
}
.colorbarra2 {
    background-color: #3B3B3B;
}
.textobarra {
    padding-top: 8px;
    padding-right: 22px;
    padding-bottom: 8px;
    padding-left: 22px;
}
.precio {
    padding-top: 8px;
    padding-right: 22px;
    padding-bottom: 8px;
    padding-left: 22px;
    text-align: center;
    font-size: 22px;
}
.proximamentediv {
    position: absolute;
    top: 42%;
    left: 24%;
    color: rgba(234,234,234,1.00);
    font-size: 38px;
    z-index: 68;
    font-family: raleway;
    font-style: normal;
    font-weight: 600;
}
.proximamentebotella {
    width: 80%;
	opacity:0.2;
	filter:alpha(opacity=80); /* For IE8 and earlier */
}
/*estilos vinos*/

/*estilos formulario*/
#tablaformulario {
    width: 100%;
    position: relative;
    margin-top: 358px;
    margin-bottom: 316px;
    border-bottom-color: rgba(249,249,249,1.00);
}
#tform {
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
    width: 70%;
}
#comprar_formulario {
    position: relative;
	top: 50%;
	left: 50%;
	transform: translate(-50%, -50%);
}
/*estilos formulario*/
.formulario {
    width: 100%;
    margin: auto;
    padding-top: 70px;
    padding-right: 40px;
    padding-left: 40px;
    padding-bottom: 15px;
    font-size: 18px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
    border-radius: 24px;
}
.pedido {
    padding-left: 15px;
    position: absolute;
    margin-top: -28px;
}
.formulario__imput, formulario__label, .formulario__submit {
	display: block;
	width: 95%;
	color: white;
}
.formulario__imput {
    padding: 20px;
    background: rgba(0,0,0,0.1);
    border: 1px solid rgba(13,13,13,0.30);
    margin-bottom: 40px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}
.formulario__imput:focus {
	outline: 1px solid rgba(0,0,0,0.7);
	background: rgba(0,0,0,0.0.8);
}
.formulario__imput:focus + .formulario__label{
}
.formulario__label {
    padding-left: 15px;
    position: absolute;
    margin-top: -131px;
    border-radius: 19px;
}
.formulario__submit {
    width: 120px;
    background: rgba(0,0,0,0.7);
    color: white;
    padding: 10px 10px;
    cursor: pointer;
    border: none;
    border-radius: 19px;
    box-shadow: 0 0 20px 1px rgba(0,0,0,0.3);
}

/*estilos mapa*/
#mapa   {
    width: 100%;
}
.mapa   {
    width: 100%;
}
/*estilos mapa*/

/*estilos pie*/
.td_lado {
    width: 25%;	
}
.td_pcentro {
    width: 50%;	
}
#contacto {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 14px;
    color: #FFF;
    margin-top: 17px;
    margin-right: 17px;
    margin-bottom: 17px;
    margin-left: 17px;
    width: 100%;
}
#pie {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
    width: 100%;
}
.padimg   {
    padding-left: 8px;
    padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.padimgtop   {
    padding-left: 8px;
    padding-top: 4px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.padimgbot   {
	padding-left: 8px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 8px;
}
.img {
    width: 48px;
    margin-left: 15px;
    margin-right: 15px;
    margin-bottom: 10px;
    margin-top: 10px;
}
.pada {
    padding-left: 5px;
    padding-right: 5px;
}
/*estilos pie*/


/*Cambio de diseños*/
.parrafos {
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    font-weight: lighter;
}
.pnegrita {
    font-weight: bolder;
    font-size: 26px;
    padding-left: 10px;
}
.pcitapie {
    font-size: 30px;
    font-weight: bolder;
    padding-bottom: 20px;
}
.fondoblanco {
    background-color: #FFFFFF;	
}
.fondonegro {
    background-color: #000000;	
}
.textblanco {
    color: #FFFFFF;	
}
.textnegro {
    color: #000000;	
}
.fondogris {
    background-color: #272727;
}
.ocultar {
    color: rgba(240,248,255,0.00);
}
.center {
    text-align: center;
}
