@charset "utf-8";
body {
    background-color: #000000;
    margin: 0px;
    padding: 0px;
}
h2 {
    font-size: 54px;
    text-align: center;
    background-color: #FFFFFF;
    padding-top: 12px;
    padding-bottom: 12px;
    margin-bottom: 0;
    margin-top: 0;
    color: #000000;
}
.boton {
    position: fixed;
    width: 100%;
    height: 100%;
    background-size: 100%;
    background-repeat: no-repeat;
    background-image: url(../img/vino.gif);
    text-align: center;
    padding-top: 40%;
    font-size: 69px;
    font-weight: bolder;
}
.boton a {
    color: #FFFFFF;
    text-decoration: none;
    padding-left: 32px;
    padding-right: 32px;
}
.boton a:link  {
    color: #FFFFFF;
    text-decoration: none;
}
.boton a:visited {
    color: #E6BE55;
}
.boton a:focus {
    color: #E3D1A4;
    background: #FFE500;
}
.boton a:hover {
    color: #E6BE55;
}
.boton a:active {
    background-color: #A78C62;
    color: #FCDC97 !important;
}

a {
	padding-left: 2px;
	padding-top: 2px;
	padding-right: 2px;
	padding-bottom: 2px;
}
a:link {
	color: #FFFFFF;
}
a:visited {
	color: #DEF9C7;
}
a:focus {
	color: #5C5C5C;
	background: #FFE500;
}
a:hover {
	color: #FFE500;
}
a:active {
	background-color: #FFFFFF;
	color: #FF0000 !important;
}
th a:link  {
    color: #FFFFFF;
    text-decoration: none;
    bottom: 14%;
}
th a:visited {
    color: #FFFFFF;
}
th a:focus {
    color: #E3D1A4;
    background: #FFE500;
}
th a:hover {
    color: #E6BE55 !important;
}
th a:active {
    background-color: #A78C62;
    color: #FCDC97 !important;
}

/*estilos idioma*/

.seleccionidioma {
    cursor: pointer;
}
.seleccionidioma:hover{
    color: #E6BE55;
}
.seleccionidiomaabajo {
    position: relative;
    font-size: 12px;
}
.seleccionidiomaabajo-content {
    width: 100%;
    display: none;
    background-color: #000000;
    position: absolute;
    box-shadow: 0px 8px 16px 0px;
    padding-top: 6px;
    margin-top: 5px;
}
.seleccionidiomaabajo-content a {
    padding-top: 2px;
    padding-bottom: 12px;
    text-decoration: none;
    display: block;
    color: #FFFFFF;
}
.seleccionidiomaabajo:hover .seleccionidiomaabajo-content {
    display: block;
}

/*estilos idioma*/

#cab {
    font-family: Verdana, Geneva, sans-serif;
    font-size: 24px;
    color: #FFF;
    text-align: center;
    position: fixed;
    width: 100%;
    padding-top: 2px;
    padding-right: 2px;
    padding-left: 2px;
    padding-bottom: 2px;
    top: 0;
    left: 0;
    right: 0;
    background-color: #000000;
}
.abajo {
    padding-bottom: 8px;
}
.logo {
    margin-top: 2px;
    margin-bottom: 2px;
    margin-left: 5px;
    margin-right: 5px;
    width: 200px;
}
#main {
    background-color: #272727;
    color: #FFFFFF;
}
#ipsum {
    margin-top: 3em;
    padding-left: 22px;
    padding-right: 22px;
}
#mapa   {
    text-align: center;
    width: 100%;
    margin-bottom: 14px;
}
#contacto {
	font-family: Verdana, Geneva, sans-serif;
	font-size: 14px;
	color: #FFF;
	border: 2px solid #FFFFFF;
	margin-top: 5px;
	margin-right: 5px;
	margin-bottom: 5px;
	margin-left: 5px;
}
#pie {
    background-color: #000000;
    color: #FFFFFF;
    font-family: Baskerville, "Palatino Linotype", Palatino, "Century Schoolbook L", "Times New Roman", serif;
}

.oculto {
    visibility: hidden;
    margin: 0px;
    padding-bottom: 48px;
}

/*estilos bodega*/

.tbodega {
    padding-top: 28px;
    padding-bottom: 28px;
}
.testobodegaiz {
    margin-right: 6px;
    margin-left: 48px;
    text-align: left;
}
.testobodegade {
    margin-right: 45px;
    margin-left: 6px;
    text-align: left;
}
.imagenbodega {
    width: 350px;
    height: 350px;
}
.imagenfecha {
    width: 203px;
    height: 350px;
}
/*estilos bodega*/

/*estilos viñedo*/

.imgvinedo {
    width: 100%;
}
.textovinedo {
    padding-top: 4px;
    padding-bottom: 4px;
    padding-right: 24px;
    padding-left: 24px;
    text-align: center;
    width: 100%;
}
/*estilos viñedo*/

/*estilos vinos*/

.botella {
    width: 100%;
}
.colorbarra {
    background-color: #90562A;
}
.colorbarra2 {
    background-color: #BC8153;
}
.textobarra {
    padding-top: 8px;
    padding-right: 22px;
    padding-bottom: 8px;
    padding-left: 22px;
}
.precio {
    padding-top: 8px;
    padding-right: 22px;
    padding-bottom: 8px;
    padding-left: 22px;
    text-align: center;
    font-size: 22px;
}

/*estilos vinos*/

.mapa   {
    width: 100%;
}
.padimg   {
    padding-left: 8px;
    padding-top: 1px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.padimgtop   {
    padding-left: 8px;
    padding-top: 5px;
    padding-right: 8px;
    padding-bottom: 4px;
}
.padimgbot   {
	padding-left: 8px;
	padding-top: 4px;
	padding-right: 8px;
	padding-bottom: 8px;
}
.img   {
    margin-left: 7px;
    margin-right: 7px;
}
.pada {
	padding-left: 5px;
	padding-right: 5px;
}
.center {
	text-align: center;
}
